---
import ScrollView from "../../Scroll-View.astro";
interface Props {
  skillName: string;
}

const { skillName } = Astro.props as Props;
---

<ScrollView
  customClasses='bg-skillCardBg flex flex-col justify-center items-center p-4 gap-1 h-[140px] w-[140px] rounded-lg'
>
  <slot />
  <span class='text-sm text-center'>{skillName}</span>
</ScrollView>
