---
import ProjectCard from "../project-card/Project-Card.astro";
import { MMVProjects } from "../project-card/Projects";
import ScrollView from "../Scroll-View.astro";
---

<section
  id='FeaturedProjects'
  class='text-white w-[100%] flex flex-col justify-between gap-8 items-center md:pt-[190px] lg:pt-[100px]'
>
  <ScrollView customClasses='text-center w-[100%] '>
    <h2 class='text-4xl sm:text-6xl text-purple-500 mb-4 font-Poppins font-semibold'>Featured Projects</h2>
    <p class='text-lg'>These are the notable projects i made throughout my journey.</p>
  </ScrollView>
  <div class='flex justify-center flex-wrap gap-[60px]'>
    {MMVProjects.filter((pd) => pd.projectType === "featured").map((pd) => <ProjectCard props={pd} />)}
  </div>
</section>
