<div class='max-w-[500px] block md:pl-6 md:hidden pb-[5rem] mb-8'>
  <h2 class='text-3xl mb-2 text-yellow-500 font-Poppins font-semibold hithere inline-block'>
    Hi There!
  </h2>
  <p class='text-gray-200 fadeIn'>
    I'm Mark, a Web Developer based in Philippines! I like to explore new technologies and try out
    new things
  </p>
</div>