<section class='text-white pl-6 w-[100%] flex flex-col md:flex-row justify-between items-center mt-0  md:mt-28'>
  <div class='max-w-[500px] block md:pl-6 md:hidden pb-[5rem] mb-8'>
    <h3 class="text-3xl mb-2">Hi There!</h3>
    <p>
      I'm Mark, a Web Developer based in Philippines! I like to explore new technologies and try out
      new things
    </p>
  </div>
  <ul class='homeNavUl w-[285px] ml-4'>
    <li><a class='text-2xl' href='#AboutMe'>About me</a></li>
    <li><a class='text-2xl' href='#Featyre'>Featured Projects</a></li>
    <li><a class='text-2xl' href='#Skills'>Skills and Tools</a></li>
  </ul>
  <div class='max-w-[500px] hidden md:pl-6 md:block'>
    <h3 class="text-6xl mb-2">Hi There!</h3>
    <p class="text-gray-200">
      I'm Mark, a Web Developer based in Philippines! I like to explore new technologies and try out
      new things!
    </p>
  </div>
</section>

<style>
  .homeNavUl {
    position: relative;
    transform: skewY(-15deg);
    border: 2px solid #1890bf;
  }

  .homeNavUl li {
    postion: relative;
    list-style: none;
    width: 280px;
    background-color: hsl(215, 21%, 12%);
  }
  .homeNavUl li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -45px;
    width: 45px;
    height: 100%;
    background-color: hsl(215, 21%, 14%);
    transform-origin: right;
    transform: skewY(45deg);
  }
  .homeNavUl li::after {
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 45px;
    background-color: hsl(215, 21%, 16%);
    transform-origin: bottom;
    transform: skewX(45deg);
  }
  .homeNavUl li a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.05em;
    transition: 0.5s;
    display: block;
    padding: 1em;
  }

  .homeNavUl li a:hover {
    color: #1890bf;
    background-color: #1890bf27;
  }
</style>
