---
import type { BlogListTypes } from "../../components/Blog/BlogTypes";
import ScrollView from "../../components/Scroll-View.astro";
import ContainerFlexCol from "../../layout/ContainerFlexCol.astro";
import Layout from "../../layout/Layout.astro";
const response = await fetch("https://dev.to/api/articles?username=mmvergara");
const data = (await response.json()) as BlogListTypes[];
---

<Layout title='Blog | Mark Vergara' customMainTagClasses='md:pt-2'>
  <ContainerFlexCol customClasses='gap-0'>
    <ScrollView>
      <h1 class='w-[100%] text-red-500 text-4xl md:text-7xl font-semibold font-Poppins px-4 py-2'>
        Blog
      </h1>
      <section class='w-[100%] text-sm mt-4 sm:text-lg sm:mt-8 px-4'>
        <a href='https://dev.to/mmvergara' class='text-slate-500'>Connected to DEV.TO Rest API</a>
        <br />
        I Create blogs to share... pretty much everything i want to share like my works, experiences,
        handy tips and sometimes some educational content.
      </section>
    </ScrollView>
    <ul class='w-[100%]'>
      {
        data.map((blog) => {
          return (
            <ScrollView>
              <li class='w-[100%] text-gray-200 blogContainerBg transition-all ease rounded-md text-left my-4 p-4'>
                <a href={`/blog/${blog.id}`} class=' text-sm sm:text-lg w-[100%]'>
                  <span class='flex justify-between'>
                    <span class='max-w-[800px]'>{blog.title} </span>
                    <span> ❤ {blog.positive_reactions_count}</span>
                  </span>
                  <span class='block text-gray-400 max-w-[500px] mt-2'>{blog.description}</span>
                </a>
              </li>
            </ScrollView>
          );
        })
      }
    </ul>
  </ContainerFlexCol>
</Layout>

<style>
  .blogContainerBg:hover {
    background-color: #1e252e;
  }
</style>
