---
import ContactPage from "../components/Contact/contact";
import ScrollView from "../components/Scroll-View.astro";
import Layout from "../layout/Layout.astro";
export const prerender = true;

---

<Layout
  title='Mark Vergara | Web Developer'
  contentDescription='Introduction about Mark Matthew Vergara a Web Developer'
>
  <ScrollView>
    <ContactPage client:load />
  </ScrollView>
  <div class='pb-[30vh]'></div>
</Layout>
