<script>
  const el = document.querySelector(".spanSig")!;
  const signature = document.querySelector(".svgSig")!;
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        setTimeout(() => {
          el.classList.remove("spanSig");
          signature.classList.remove("svgSig");
        }, 300);
      }
    });
  });
  observer.observe(el);
</script>

<div class=''>
  <span class='spanSig'></span>
  <svg
    width='668'
    height='311'
    viewBox='0 0 668 311'
    class='svgSig w-[300px] sm:w-auto'
    fill='none'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      id='mmvergaraSignature'
      d='M665 232V308H538M665 232L563 59L462 232M665 232H3M462 232L334 5.5L200.5 232M462 232L386 308M462 232L538 308M462 232H200.5M200.5 232L101 59L3 232M200.5 232L124.5 308M200.5 232L276.5 308M3 232V308H124.5M386 308H538M386 308H276.5M124.5 308H276.5'
      stroke='#1890BF'
      stroke-width='5'></path>
  </svg>
</div>

<style>
  .svgSig {
    display: none;
    padding-bottom: 0px;
  }
  .spanSig {
    padding-bottom: 200px;
  }

  #mmvergaraSignature {
    stroke-dasharray: 2338.6181640625;
    stroke-dashoffset: 2338.6181640625;
    animation: signing 15s ease;
    animation-fill-mode: forwards;
  }

  @keyframes signing {
    to {
      stroke-dashoffset: 0;
      background-color: red;
      padding: 1em;
    }
  }
</style>
