---
import ContactBox from "../components/Contact-Box.astro";
import ContactPage from "../components/contact/contact";
import ScrollView from "../components/Scroll-View.astro";
import Layout from "../layout/Layout.astro";
---

<Layout
  title='Mark Vergara | Web Developer'
  contentDescription='Introduction about Mark Matthew Vergara a Web Developer'
>
  <ScrollView>
    <h1 class='font-Poppins text-center text-3xl sm:text-5xl md:text-7xl'>Contact Me</h1>
    <ContactBox />
    <ContactPage client:load />
  </ScrollView>
  <div class='pb-[30vh]'></div>
</Layout>

<style scoped>
  h1 {
    color: #eab308;
  }
</style>
