---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Contact">
  <Navbar />
  <section class="contact-section">
    <div class="stagger-container">
      <h1 class="title">Contact</h1>
      <p class="description">
        Feel free to reach out to me, I'm always open to opportunities and
        collaborations.
      </p>
      <div class="links-container">
        <a
          href="https://github.com/mmvergara"
          target="_blank"
          rel="noreferrer noopener"
          class="contact-link"
          data-astro-prefetch="false"
        >
          <Icon name="github" size={18} />
          Github
        </a>
        <a
          href="mailto:mark.jesusmanabat@gmail.com"
          class="contact-link"
          data-astro-prefetch="false"
        >
          <Icon name="mail" size={18} />
          Email
        </a>
        <a
          href="https://www.linkedin.com/in/mark-vergara-8436b0243/"
          target="_blank"
          rel="noreferrer noopener"
          class="contact-link"
          data-astro-prefetch="false"
        >
          <Icon name="linkedin" size={18} />
          LinkedIn
        </a>
      </div>
    </div>
  </section>
</Layout>

<style>
  .contact-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    color: white;
  }

  @media (max-width: 640px) {
    .contact-section {
      padding-top: 0rem;
    }
  }


  .stagger-container {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 1.875rem;
    font-weight: 600;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.15s;
  }

  .description {
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.3s;
  }

  .links-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 0.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.45s;
  }

  .contact-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    border: 1px solid #3f3f46;
    border-radius: 0.375rem;
    text-decoration: none;
    color: inherit;
  }

  .contact-link:hover {
    transform: translateY(-5px) scale(1.05);
    border-color: var(--primary);
  }

  .contact-link:active {
    transform: scale(0.95);
  }
</style>
