---
import Layout from "../layout/Layout.astro";
---

<Layout
  title='Projects | Mark Vergara'
  contentDescription='Projects made by: Mark Matthew Vergara a Web Developer'
>
  <h1>helllo</h1>
</Layout>
