---
import { Icon } from "astro-icon";

const ContactLinks = [
  {
    content: "mark.jesusmanabat@gmail.com",
    iconName: "ic:outline-email",
    href: "mailto:mark.jesusmanabat@gmail.com",
    label: "Email Address",
  },
  {
    content: "Mark Vergara",
    iconName: "mdi:linkedin",
    href: "https://www.linkedin.com/in/mark-vergara-8436b0243/",
    label: "LinkedIn Profile",
  },
  {
    content: "@mmvergara",
    iconName: "mdi:github",
    href: "https://github.com/mmvergara",
    label: "Github Profile",
  },
  {
    content: "@mmvergara",
    iconName: "mdi:dev-to",
    href: "https://dev.to/mmvergara",
    label: "Dev To Profile",
  },
];
---

<section
  class='text-white text-sm bg-skillCardBg p-4 flex flex-col w-[320px] rounded-lg border-b-4 border-cardBg mx-auto mt-8'
>
  {
    ContactLinks.map((l) => {
      return (
        <p>
          <Icon name={l.iconName} class='w-[25px] height-[25px] mb-1 inline' /> :{" "}
          <a href={l.href} aria-label={l.label} class='text-md font-normal tracking-wide'>
            {l.content}
          </a>
        </p>
      );
    })
  }
</section>
