---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";

import ScrollView from "./Scroll-View.astro";
---

<ScrollView customClasses=' w-[320px]'>
  <article
    class='w-[320px] bg-cardBg rounded-md hover:scale-105 transition-all ease-in duration-75 border-b-8 border-gray-700'
  >
    <Image
      src={import("../images/ProjectCard.png")}
      class='rounded-t-md overflow-hidden inline-flex min-w-[300px]'
      alt='Project Image'
      widths={[320]}
      loading='eager'
      width={320}
      height={183}
    />
    <div class='p-4'>
      <h2 class='text-[1.1rem] sm:text-[1.2rem] font-Poppins'>Acrie Shop</h2>
      <div class='flex mt-2 gap-2'>
        <a href='#'><Icon name='eva:github-outline' class='max-w-[50px] w-[40px]' /></a>
        <a href='#'><Icon name='mdi:link-variant' class='max-w-[50px] w-[40px]' /></a>
      </div>
      <p class='text-sm sm:text-[1.05rem] text-gray-300 leading-tight mt-6'>
        Acrie Shop is a web app made by: Vergara, Mark Matthew. Simulating a E-commerce website to
        practice React w/TS, NodeJS w/TS, jsPDF, Image API"s, Tailwind CSS,
      </p>
      <div class='mt-4 flex flex-wrap gap-2'>
        <p class='text-sm p-1 px-2 bg-slate-700 inline rounded-md font-Poppins '>react</p>
        <p class='text-sm p-1 px-2 sat inline rounded-md font-Poppins '>postgre-sql</p>
        <p class='text-sm p-1 px-2 bg-slate-700 inline rounded-md font-Poppins'>tailwind</p>
      </div>
    </div>
  </article>
</ScrollView>
<style>
  .sat{
    background-color:#2da94a;
  }
</style>