<header class='w-[100%] max-h-[78px]'>
  <nav class='text-white text-1xl md:text-2xl max-w-[1500px] p-4 md:p-8 mx-auto flex items-center justify-between'>
    <div class='flex items-center gap-4'>
      <a href='/' aria-label='Personal / Website Logo'>
        <img
          src='/mmv-ico-transparent.svg'
          alt='mmvergar'
          class='h-[40px] md:h-[70px] w-[40px] md:w-[70px] rounded-3xl shadow-sm'
          height='40px'
          width='40px'
        />
      </a>
      <a class='hidden sm:block' href='/'> Mark Matthew Vergara</a>
    </div>
    <ul class='flex gap-4 md:gap-12'>
      <li class='hover:text-purple-500 hover:scale-105 transition-all ease-in'>
        <a href='/projects'>Projects</a>
      </li>
      <li class='hover:text-red-500 hover:scale-105 transition-all ease-in'>
        <a href='/blog'>Blog</a>
      </li>
      <li class='liContact hover:scale-105 transition-all ease-in'>
        <a href='/contact'>Contact</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
  .liContact:hover {
    color: #eab308;
  }
  li {
    font-family: "Poppins", sans-serif;
  }
</style>
