---
const { documentationLink } = Astro.props as { documentationLink: string };
---

{
  documentationLink && (
    <a
      href={documentationLink}
      target='_blank'
      class='text-sm p-1 px-2 bg-slate-700 inline rounded-md font-Poppins'
      aria-label='Website Documentation Link'
    >
      Docs
    </a>
  )
}
