---
interface Props {
  customClasses?: string;
}

const { customClasses } = Astro.props as Props;
---

<div
  class={`text-white text-1xl md:text-2xl max-w-[1200px] p-4 mx-auto gap-[200px] flex flex-col items-center justify-between ${customClasses}`}
>
  <slot />
</div>
