---
import { Icon } from "astro-icon";

const FooterLinks = [
  {
    href: "https://github.com/mmvergara",
    ariaLabel: "Github Profile",
    Icon: "mdi:github",
  },
  {
    href: "mailto:mark.jesusmanabat@gmail.com",
    ariaLabel: "Email Address",
    Icon: "ic:sharp-mail-outline",
  },
  {
    href: "https://www.linkedin.com/in/mark-vergara-8436b0243/",
    ariaLabel: "LinkedIn Profile",
    Icon: "mdi:linkedin",
  },
];
---

<footer class='w-[100%] flex justify-center flex-wrap items-center p-4 gap-2 pt-[200px]'>
  {
    FooterLinks.map((link) => {
      return (
        <a href={link.href} aria-label={link.ariaLabel}>
          <Icon name={link.Icon} class='w-10 h-10 text-slateD' />
        </a>
      );
    })
  }
  <p class='inline-block w-[100%] text-center text-slateD'>©2023 Mark Vergara All rights reserved.</p>
</footer>
