---
type Props = {
  skillName:string
  iconName:string
  classes?:string
}

import { Icon } from "astro-icon";
import ScrollView from "../../Scroll-View.astro";
const { skillName, iconName, classes } = Astro.props as Props;
---

<ScrollView
  customClasses='bg-skillCardBg flex flex-col justify-center items-center p-4 gap-1 h-[140px] w-[140px] rounded-lg'
>
  <Icon name={iconName} class:list={["w-[50px] height-[50px] mb-1 ", classes || '']} />
  <span class='text-sm text-center mt-[.3px]'>{skillName}</span>
</ScrollView>
